body {
    background-color: #2a2a2e;
    color: white;
    font-family: Arial, sans-serif;
}


input[type=checkbox] { 
    vertical-align: middle; 
    position: relative; 
    bottom: 1px; 
} 
  
label { 
    display: block; 
} 

.colorSquare {
    width: 20px;
    height: 20px;
    margin: 2px 2px 2px 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 5px;
    display: inline-block;
}

